@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  /* background: url('https://images.pexels.com/photos/1655166/pexels-photo-1655166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center; */
  background-size: cover;
  display: grid;
  font-family: 'Inconsolata', monospace;
  min-height: 100vh;
  place-items: center;
  flex-direction: column;
  /* padding: 2px; */
}

.holder {
  position: relative;
  /* padding: 0; */
}

.fas {
  color: white;

  display: inline-block;
  font-size: 20px;
  /* padding: 20px 20px; */
  padding: 11px;
  /* color */
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  background-color: aqua;
}

.far {
  color: white;

  display: inline-block;
  font-size: 20px;
  /* padding: 20px 20px; */
  padding: 11px;
  /* color */
  background-color: aqua;

  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.fas:hover {
  color: #292929;
  border: 2px solid #292929;
  transition: .5s;
}

.far:hover {
  color: #292929;
  border: 2px solid #292929;
  transition: .5s;
}





#mic {
  /* align-items: center; */
  margin-left: 90px;
  font-size: 30px;


}



/* .holder:before,
.holder:after {
  animation: orbit 5s linear infinite;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  content: '';
  height: 150px;
  position: absolute;
  width: 150px;
} */

/* .holder:before {
  background: white;
  background: -moz-radial-gradient(top right, white, white);
  background: radial-gradient(to bottom left, white, white);
  background: -webkit-radial-gradient(top right, white, white);
}

.holder:after {
  animation-delay: 2.5s;
  background: white;
  background: -moz-radial-gradient(bottom right, white, white);
  background: radial-gradient(to top left, white, white);
  background: -webkit-radial-gradient(bottom right, white, white);
  right: 0;
  top: 0;
  z-index: -1;
} */

.card {
  margin-right: 25px;
  border: 1px solid #fff;
  background-color: rgb(125, 240, 240);
  border-radius: 15px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  backdrop-filter: blur(15px);

  z-index: 10;
  height: 320px;
  overflow: hidden;
  position: relative;
  width: 280px;
  padding: 0 1px;

  /* opacity: 0.6; */

}

.btn1 {
  border-radius: 15px;
  padding: 3px 4px;
  background-color: white;
  color: rgb(9, 78, 78);
  margin-left: 65%;
  /* margin-top: -500px; */
  font-weight: 600;
  text-decoration: none;
  border: 2px dotted red;
  cursor: pointer;
}

.btn1:hover {
  color: white;
  border: 2px solid green;

  background-color: black;
}



.card:before {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  /* padding: 0 2px; */

}

.card__text {
  color: #6f7886;
  margin-left: 30px;
  margin-top: 20px;
  position: relative;
  z-index: 10;

}

.card svg {
  bottom: 30px;
  position: absolute;
  right: 30px;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

.form1 input {
  border: none;
  padding: 4px 2px;
  border-bottom: 1px solid black;
  margin: 2px 0px;
  text-decoration: none;
  /* pointer-events: none; */
  /* padding: ; */
}

#ip1 {
  /* position: rel */
  align-items: center;
  margin: 20px 22px;
  width: 80%;
  /* padding: 0 5px; */
}